.case-studies-section{
    margin-bottom: $grid-gutter-width;
    .title{
        color: inherit;
        font-size: ceil($font-size-base * 2);
    }
    @media (min-width: 480px) {
        .inner{
            display: table;
            table-layout: fixed;
            width: 100%;
        }
        .item{
            display: table-cell;
            vertical-align: top;
        }
    }
    .item{
        padding: 10px;
        font-size: 14px;

        img{
            width: 100%;
            display: block;
            margin-bottom: 1em;
        }
    }
    .btn{
         padding: $grid-gutter-width/4 $grid-gutter-width/1.5;
    }
}
