.case-studies-section{
    margin-bottom: $grid-gutter-width;
    .title{
        color: inherit;
        font-size: ceil($font-size-base * 2);
    }
    @media (min-width: $screen-sm-min) {
        .inner{
            display: table;
            table-layout: fixed;
            width: 100%;
        }
        .item{
            display: table-cell;
            vertical-align: top;
        }
    }
    .item{
        padding: 10px;
        font-size: 14px;
        line-height: 19px;
        @include clearfix;

        h3{
            margin-top: .5em;
            font-size: inherit;
            color: $accent-color;
            font-weight: 700;
            font-family: inherit;
        }

        img{
            float: left;
            margin-right: 10px;
            display: block;
            margin-bottom: 1em;
            width: 100%;
            @media (max-width: $screen-xs-max){
                width: 25%;
            }
        }
    }
    .btn{
         padding: $grid-gutter-width/4 $grid-gutter-width/1.5;
    }
}
